@font-face {
    font-family: 'Cenatyc';
    src: url('CenatycRegular.eot');
    src: local('Cenatyc'), local('CenatycRegular'),
        url('CenatycRegular.eot?#iefix') format('embedded-opentype'),
        url('CenatycRegular.woff2') format('woff2'),
        url('CenatycRegular.woff') format('woff'),
        url('CenatycRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cenatyc';
    src: url('Cenatyc-Italic.eot');
    src: local('Cenatyc Italic'), local('Cenatyc-Italic'),
        url('Cenatyc-Italic.eot?#iefix') format('embedded-opentype'),
        url('Cenatyc-Italic.woff2') format('woff2'),
        url('Cenatyc-Italic.woff') format('woff'),
        url('Cenatyc-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cenatyc';
    src: url('Cenatyc-Slant.eot');
    src: local('Cenatyc Slant'), local('Cenatyc-Slant'),
        url('Cenatyc-Slant.eot?#iefix') format('embedded-opentype'),
        url('Cenatyc-Slant.woff2') format('woff2'),
        url('Cenatyc-Slant.woff') format('woff'),
        url('Cenatyc-Slant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

